/* Buttons styles start */


html {
  font-family: sans-serif;
}

.header-coloring {
  background: rgb(224, 231, 239);
  background: linear-gradient(to right, rgba(212,228,239,.25) 0%, rgba(205, 222, 236, 0.25)100%);
  box-shadow: 
    inset 0 1px 3px -1px rgba(0,0,0,0.24), 
    0 0px 1px 0px rgba(30, 0, 0, 0.24);
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgb(80, 103, 110);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.secondary-btn {
  color: rgb(80, 103, 110);
  background: #ffffff;
  border: 1px solid rgba(80, 103, 110, 0.4);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background: rgb(224, 231, 239);
}

button:hover,
button:focus {
  background: rgba(80, 110, 140, 1);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
